.menu-page {
    height: calc(100% - 2vh);
    display: flex;
}

.menu-sidebar {
    border-right: 2px solid $primary;
    width: 200px;
    height: 100%;
}

.menu-selector, .menu-section-name {
    text-align: center;
    padding: 0.5em;
    margin: 2px;
    cursor: pointer;
    box-sizing: border-box;
    border: solid 1px transparent;

    &:hover {
        border-radius: 5px;
        border: solid 1px $primary;
        color: $primary;
    }

    &:active {
        background-color: $primary;
        color: var(--bs-body-bg);
    }
}

.active-section {
    color: $primary;
    border-bottom: 1px solid $primary;
}

.menu-content {
    width: 100%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.menu-sections-header {
    display: flex;
}

.menu-sections-content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 0.65em;
    cursor: pointer;
}

.menu-item-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid $primary;

    &>* {
        margin-right: 1em;
    }
}
