.meal-menu-section-name {
    padding: 0.5em;
    cursor: pointer;
    box-sizing: border-box;
    border: solid 1px transparent;

    &:hover {
        border-radius: 5px;
        border: solid 1px $primary;
    }

    &:active {
        background-color: $primary;
        color: var(--bs-body-bg);
    }
}

.meal-menu-section-name {
    font-weight: bold;
}

.meal-menu-item {
    padding: 0.1em;
    padding-left: 0.5em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;

    &>div {
        padding-right: 0.5em;
    }

    &>div:last-child {
        padding-right: 0;
    }

    &:hover {
        color: $primary;
    }
}

.add-order-item-icon {
    cursor: pointer;
}