.dialog-button-row {
    display: flex;
}

ux-dialog {
    width: 50vw;
    min-height: 80vh;
    position: relative;
    background-color: var(--bs-body-bg);

    ux-dialog-footer {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

ux-dialog-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}
